body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.nav-section {
  background-color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #fffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
}

nav ul li a {
  font-family: "Otomanopee One", sans-serif;
  margin: 18px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.logo {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.flexible-container {
  display: flex;
  margin-bottom: 90px;
}
.half-width {
  width: 50%;
}
.text {
  text-align: left;
  padding-left: 5%;
  padding-top: 15%;
}
.half-width img {
  width: 80%;
  padding-left: 5%;
  padding-top: 5%;
}

section div p {
  margin-top: 40px;
  margin-bottom: 50px;
}
.half-width h1 {
  font-size: 50px;
  margin: -15px;
  font-weight: 700;
  font-weight: bold;
}

.distinguised-color {
  color: orange;
}
.link-button {
  margin-top: 0;
  text-decoration: none;
  background-image: linear-gradient(orange, rgb(253, 40, 2));
  padding: 2% 5%;
  border-radius: 40px;
  color: white;
  font-weight: 700;
}

.second-section {
  background-image: url(images/second-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

img.second-image {
  width: 100%;
  padding-left: 13%;
  padding-top: 6%;
}

.second-div {
  text-align: left;
  padding-left: 5%;
  padding-top: 8%;
}
.second-div p {
  padding-right: 200px;
  padding-bottom: 40px;
}

.second-div h2 {
  font-size: 30px;
}

.recipe {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.recipe-para {
  padding-left: 80px;
  padding-right: 80px;
}
.recipe img {
  width: 100%;
  border-radius: 5%;
}

.recipe-section-header {
  text-align: center;
}
.recipe-section-header h2 {
  font-size: 30px;
}

.popularity {
  width: 85%;
  height: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
.popularity h1 {
  font-size: 35px;
}
.popularity div {
  text-align: center;
  padding: 0% 9%;
}

footer {
  color: gray;
  background-color: black;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-top: 10px;
  text-align: center;
}
footer p {
  color: white;
}
